.alma-snapshots

# ===============================
# Java / Maven / Gradle
# ===============================
target/
build/
out/
*.class
*.jar
*.war
*.ear
.gradle/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE - IntelliJ IDEA
# ===============================
.idea/
*.iml
*.iws
*.ipr

# ===============================
# IDE - VSCode
# ===============================
.vscode/

# ===============================
# Java IDE / Spring Tooling
# ===============================
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# ===============================
# Environment / Config
# ===============================
.env
*.env

# ===============================
# Spring Boot
# ===============================
*.pid
*.seed
*.hprof
HELP.md

# ===============================
# Node (如果你有前端)
# ===============================
node_modules/
dist/